version: "3.4"

services:
  download:
    image: starvers_eval:20260202
    container_name: starvers_eval-download
    volumes:
      - ${base_host_dir}/output/logs:/starvers_eval/output/logs
      - ${base_host_dir}/rawdata:/starvers_eval/rawdata
      - ./scripts_dev/1_download:/starvers_eval/scripts/1_download # move to image after development has finished
      #- ./raw_queries/orkg/complex:/starvers_eval/queries/raw_queries/orkg/complex
      - ${base_host_dir}/queries/raw_queries:/starvers_eval/queries/raw_queries
    environment:
      - datasets=${datasets}
    entrypoint: [/starvers_eval/scripts/1_download/download_data.sh]

  clean_raw_datasets:
    image: starvers_eval:latest
    container_name: starvers_eval-clean_raw_datasets
    volumes:
      - ${base_host_dir}/output/logs:/starvers_eval/output/logs
      - ${base_host_dir}/rawdata:/starvers_eval/rawdata
      - ./scripts_dev/2_clean_raw_datasets:/starvers_eval/scripts/2_clean_raw_datasets # move to image after development has finished
      - ./raw_queries/orkg/complex:/starvers_eval/queries/raw_queries/orkg/complex
    environment:
      - datasets=${datasets}
    entrypoint: [/starvers_eval/scripts/2_clean_raw_datasets/clean_raw_datasets.sh]
  
  eval_construct_datasets:
    image: starvers_eval:latest
    container_name: starvers_eval-eval_construct_datasets
    volumes:
      - ${base_host_dir}/output/logs:/starvers_eval/output/logs
      - ${base_host_dir}/output/logs/construct_datasets/graphdb_logs:/opt/graphdb/dist/logs
      - ${base_host_dir}/output/measurements:/starvers_eval/output/measurements
      - ${base_host_dir}/rawdata:/starvers_eval/rawdata
      - ${base_host_dir}/configs/construct_datasets:/starvers_eval/configs/construct_datasets
      - ${base_host_dir}/databases/construct_datasets/graphdb:/starvers_eval/databases/construct_datasets/graphdb
      - ${base_host_dir}/tmp:/tmp
      - ./scripts_dev/3_construct_datasets:/starvers_eval/scripts/3_construct_datasets # move to image after development has finished
    ports:
      - 7600:7200
      - 3050:3030
    entrypoint: ["python", "-u", "/starvers_eval/scripts/3_construct_datasets/construct_datasets.py"]
    command: ["bearc", "True", "False", "True", "True"]
  
  construct_datasets:
    image: starvers_eval:latest
    container_name: starvers_eval-construct_datasets
    hostname: Starvers
    ports:
      - 7600:7200
      - 3030:3030
    volumes:
      - ${base_host_dir}/output/logs:/starvers_eval/output/logs
      - ${base_host_dir}/output/logs/construct_datasets/graphdb_logs:/opt/graphdb/dist/logs
      - ${base_host_dir}/output/measurements:/starvers_eval/output/measurements
      - ${base_host_dir}/rawdata:/starvers_eval/rawdata
      - ${base_host_dir}/configs/construct_datasets:/starvers_eval/configs/construct_datasets
      - ${base_host_dir}/databases/construct_datasets/graphdb:/starvers_eval/databases/construct_datasets/graphdb
      - ${base_host_dir}/tmp:/tmp
      - ./scripts_dev/3_construct_datasets:/starvers_eval/scripts/3_construct_datasets # move to image after development has finished
    environment:
      - datasets=${datasets}
      - skip_change_sets=${skip_change_sets}
      - skip_tb_star_ds=${skip_tb_star_ds}
      - skip_cbng_ds=${skip_cbng_ds}
      - skip_icng_ds=${skip_icng_ds}
    entrypoint: ["python", "-u", "/starvers_eval/scripts/3_construct_datasets/construct_datasets.py"]
    command: ["$datasets", "$skip_change_sets", "$skip_tb_star_ds", "$skip_cbng_ds", "$skip_icng_ds"]

  ingest:
    image: starvers_eval:latest
    container_name: starvers_eval-ingest
    volumes:
      - ${base_host_dir}/output/logs:/starvers_eval/output/logs
      - ${base_host_dir}/output/logs/ingest/graphdb_logs:/opt/graphdb/dist/logs
      - ${base_host_dir}/rawdata:/starvers_eval/rawdata
      - ${base_host_dir}/databases:/starvers_eval/databases
      - ${base_host_dir}/output/measurements:/starvers_eval/output/measurements
      - ${base_host_dir}/configs/ingest:/starvers_eval/configs/ingest
      - ${base_host_dir}/tmp:/tmp
      - ./scripts_dev/4_ingest:/starvers_eval/scripts/4_ingest # move to image after development has finished
    environment:
      - datasets=${datasets}
      - triple_stores=${triple_stores} # Execute separately for each triplestore to be able to run in parallel
      - policies=${policies} 
    entrypoint: ["python3", "-u", "/starvers_eval/scripts/4_ingest/ingest.py"]

  construct_queries:
    image: starvers_eval:latest
    container_name: starvers_eval-construct_queries
    volumes:
      - ${base_host_dir}/output/logs:/starvers_eval/output/logs
      - ${base_host_dir}/output/measurements:/starvers_eval/output/measurements
      - ${base_host_dir}/queries/final_queries:/starvers_eval/queries/final_queries
      - ./scripts_dev/5_construct_queries:/starvers_eval/scripts/5_construct_queries # move to image after development has finished
    environment:
      - policies=${policies}    
    entrypoint: ["python", "-u", "/starvers_eval/scripts/5_construct_queries/construct_queries.py", "$policies"]
  
  evaluate:
    image: starvers_eval:latest
    container_name: starvers_eval-evaluate
    volumes:
      - ${base_host_dir}/output/logs:/starvers_eval/output/logs
      - ${base_host_dir}/configs/ingest/jenatdb2:/starvers_eval/configs/ingest/jenatdb2
      - ${base_host_dir}/databases:/starvers_eval/databases
      - ${base_host_dir}/queries/final_queries:/starvers_eval/queries/final_queries
      - ${base_host_dir}/output/measurements:/starvers_eval/output/measurements
      - ${base_host_dir}/output/result_sets:/starvers_eval/output/result_sets
      - ${base_host_dir}/tmp:/tmp
      - ./scripts_dev/6_evaluate:/starvers_eval/scripts/6_evaluate # move to image after development has finished
    hostname: Starvers
    mem_limit: 50g
    extra_hosts:
    - "host.docker.internal:host-gateway"
    ports:
      - 7200:7200
      - 3030:3030
      - 42564:42564
    environment:
      - datasets=${datasets}
      - triple_stores=${triple_stores}
      - policies=${policies}
      - graphdb_port=${graphdb_port}
      - jenatdb2_port=${jenatdb2_port}
      - ostrich_port=${ostrich_port}
    entrypoint: ["/starvers_eval/scripts/6_evaluate/evaluate.sh"]

  verify_results:
    image: starvers_eval:latest
    container_name: starvers_eval-verify_results
    volumes:
      - ${base_host_dir}/output/logs:/starvers_eval/output/logs
      - ${base_host_dir}/output/result_sets:/starvers_eval/output/result_sets
      - ./scripts_dev/6_evaluate:/starvers_eval/scripts/6_evaluate # move to image after development has finished
    environment:
      - triple_stores=${triple_stores}
      - policies=${policies}
      - datasets=${datasets}
    entrypoint: ["python", "-u", "/starvers_eval/scripts/6_evaluate/verify_results.py"]
    command: ["$triple_stores", "$policies", "$datasets"]
    
  visualize:
    image: starvers_eval:latest
    container_name: starvers_eval-visualize
    volumes:   
      - ${base_host_dir}/output/logs:/starvers_eval/output/logs
      - ${base_host_dir}/output/figures:/starvers_eval/output/figures
      - ${base_host_dir}/output/measurements:/starvers_eval/output/measurements
      - ./scripts_dev/7_visualize:/starvers_eval/scripts/7_visualize # move to image after development has finished
    environment:
      - policies=${policies}  
      - datasets=${datasets}
    entrypoint: ["python", "-u", "/starvers_eval/scripts/7_visualize/visualize.py"]
    command: ["$policies", "$datasets"]


# -------------------------------------------------------------------------------------------
# For testing
# -------------------------------------------------------------------------------------------

  starvers_eval-tty:
    image: starvers_eval:latest
    container_name: starvers_eval-tty
    tty: true
    stdin_open: true
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - starvers_prod_net
    #hostname: Starvers
    command: ["/bin/bash"]

  graphdb:
    image: starvers_eval:latest
    container_name: starvers_eval-graphdb
    restart: always
    ports: 
      - 7600:7200
    volumes:
      - ${base_host_dir}/databases/graphdb/ic_sr_ng_bearb_hour:/starvers_eval/databases/graphdb/ic_sr_ng_bearb_hour
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - starvers_prod_net
    #hostname: Starvers
    environment:
      JAVA_HOME: /opt/java/java11/openjdk
      PATH: /opt/java/java11/openjdk/bin:$PATH
      GDB_JAVA_OPTS: >-
        -Xmx45g -Xms45g 
        -Dgraphdb.dist=/opt/graphdb/dist 
        -Dgraphdb.home.work=/tmp/graphdb/work 
        -Dgraphdb.workbench.importDirectory=/opt/graphdb/home/graphdb-import 
        -Dgraphdb.workbench.cors.enable=true 
        -Denable-context-index=true 
        -Dentity-pool-implementation=transactional 
        -Dhealth.max.query.time.seconds=60 
        -Dgraphdb.append.request.id.headers=true 
        -Dreuse.vars.in.subselects=true
        -Dgraphdb.home.data=/starvers_eval/databases/graphdb/ic_sr_ng_bearb_hour
    command: ["/opt/graphdb/dist/bin/graphdb", "server"]

  ostrich:
    image: starvers_eval:latest
    container_name: starvers_eval-ostrich
    ports:
      - 42564:42564
    networks:
      - starvers_prod_net
    environment:
      - name=value
    volumes:
      - ${base_host_dir}/databases/ostrich/ostrich_bearb_day:/var/ostrich
    entrypoint: ["node","/opt/comunica-feature-versioning/engines/query-sparql-ostrich/bin/http.js","-p","42564","-t","480","-l","debug","ostrichFile@/var/ostrich"]


  jenaTDB2:
    container_name: jenaTDB2
    image: stain/jena-fuseki:5.1.0
    restart: unless-stopped
    environment: 
      JVM_ARG: -Xmx8g -Xms8g
      TDB: 2
      ADMIN_PASSWORD: admin
    ports: 
      - 3030:3030
    extra_hosts:
      - "host.docker.internal:127.0.0.1"
    volumes:
      - ${base_host_dir}/databases/jenatdb2:/starvers_eval/databases/jenatdb2
      - ${base_host_dir}/configs/ingest/jenatdb2/ic_sr_ng_bearb_day.ttl:/run/configuration/config.ttl
    user: root
    command: ["/jena-fuseki/fuseki-server", "--config=/run/configuration/config.ttl", "--port=3030", "--tdb2"]


  download_queries:
    image: starvers_eval:20260202
    container_name: starvers_eval-download_queries
    volumes:
      - ${base_host_dir}/output/logs:/starvers_eval/output/logs
      - ${base_host_dir}/rawdata:/starvers_eval/rawdata
      - ./scripts_dev/1_download:/starvers_eval/scripts/1_download # move to image after development has finished
      - ./raw_queries/orkg/complex:/starvers_eval/queries/raw_queries/orkg/complex
    environment:
      - datasets=${datasets}
    entrypoint: [/starvers_eval/scripts/1_download/download_data.sh]



  parse_SciQA_queries:
    image: starvers_eval:20260202
    container_name: starvers_eval-parse_SciQA_queries
    volumes:
      - ${base_host_dir}/output/logs:/starvers_eval/output/logs
      - ${base_host_dir}/rawdata:/starvers_eval/rawdata
      - ./scripts_dev/2_clean_raw_datasets:/starvers_eval/scripts/2_clean_raw_datasets # move to image after development has finished
      - ./raw_queries/orkg/complex:/starvers_eval/queries/raw_queries/orkg/complex
    environment:
      - datasets=${datasets}
    entrypoint: [/starvers_eval/scripts/2_clean_raw_datasets/parse_SciQA_queries.py]
  

networks:
  starvers_prod_net:
    driver: bridge


