output/
.git
scripts_dev/2_preprocess/RDFValidator/target/classes/
scripts_dev/2_preprocess/RDFValidator/target/archive-tmp/
scripts_dev/2_preprocess/RDFValidator/target/generated-sources/
scripts_dev/2_preprocess/RDFValidator/target/maven-status/