.vscode/
.pytest_cache/
.ipynb_checkpoints/

build/

tests/__pycache__/

src/starvers/__pycache__/
src/starvers.egg-info/

evaluation/starvers/experiments/benchmark/2_preprocess_data/RDFValidator/target/classes/
evaluation/starvers/experiments/benchmark/2_preprocess_data/RDFValidator/target/archive-tmp/
evaluation/starvers/experiments/benchmark/2_preprocess_data/RDFValidator/target/generated-sources/
evaluation/starvers/experiments/benchmark/2_preprocess_data/RDFValidator/target/maven-status/

paper/

evaluation/starvers/experiments/benchmark/*/__pycache__
evaluation/starvers/experiments/analysis/rdf_star_retrieval/scripts/__pycache__/