html, body {
  height: 100vh;
  margin: 0;
}

.header {
  padding: 1rem;
  background: linear-gradient(180deg, #5485AB 0%, #006699 100%);
}

.header-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative; /* for absolute centering */
  justify-content: space-between;

}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /*max-width: 600px; */
  white-space: normal;
  width:60%;
}

#repo-select-container.select::after {
  border-color: #006699;
}

.header-logo {
  display: flex;
  gap: 0.5rem;
  /*margin-left: auto;*/
  width:20%;
  flex-shrink: 0;
}

#header-logo-right{
  justify-content: flex-end;
}

.header-logo img {
  height: 60px;
  width: auto;
}

#TU_signet{
  display: none;
}

#TU_logo {
  display: block;
}

/* When logo wraps to next line, center it */


.header-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #e0f7fa;
  margin-top: 0.25rem;
}

.header-title {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}

#layout-wrapper {
  height: 90vh;
  display: flex;
  gap: 0;
  column-gap: 0;

}

#mobile-tabs {
  display: none;
}



.section-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*height: 5rem;*/
    width: 100%;
    
}

#main-section {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    max-height: 100%;
    overflow-y: auto;
    flex: 1 1 0;
    min-width: 0; 

    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */ 
}

#left-section,
#right-section {
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 6rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: border-box;
    max-height: 100%;

    flex: 0 1 22rem;
    min-width: 12rem; /* prevent them from collapsing too small */

}

#right-section-tabs ul{
  border-bottom: none;
}

#right-section-tab-content{
    display: flex;
    flex-grow: 1;
    max-height: 100%;
    max-width: 100%;
}

#right-section-tab-classes{
    display: flex;
    flex-grow: 1;
    max-height: 100%;
    max-width: 100%;
}

#snapshot-tree {
    flex: 1;
    min-height: 0; 
    max-height: 100%;
    max-width: 100%;  
    overflow: auto;
    padding-bottom: 1rem;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

/* Scope all rules inside #snapshot-tree */
#snapshot-tree .tree-node {
  margin-left: 1.2em;
  position: relative;
  padding-left: 1.2em;
  border-left: 1px solid #ccc;
  margin-bottom: 0.3em;
}

#snapshot-tree .tree-node > .class-label {
  font-weight: 600;
  margin-right: 0.6em;
}

#snapshot-tree .tree-node > .info {
  background: #f0f0f0;
  border-radius: 3px;
  padding: 0 0.4em;
  margin-right: 0.4em;
  font-size: 0.85em;
  color: #333;
  display: inline-block;
}

#snapshot-tree .children {
  display: none;
  margin-top: 0.2em;
  margin-left: 1.5em;
}

#snapshot-tree .info-row {
  margin-top: 0.2em;
  display: flex;
  gap: 0.5em; 
}

#snapshot-tree .tree-node.expanded > .children {
  display: block;
}

#snapshot-tree .tree-node > .expand-btn {
  cursor: pointer;
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  display: inline-block;
  color: #007BFF;
  font-weight: bold;
  pointer-events: auto;
}

#snapshot-tree .tree-node > .expand-btn::before {
  content: "+";
  display: inline-block;
  width: 1em;
  text-align: center;
  color: #006699;
}

#snapshot-tree .tree-node.expanded > .expand-btn::before {
  content: "−"; 
  color: #006699;

}



#main-section::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}


#plot-container {
    width: 100%;
    flex-grow: 1;
}

#plot-and-query {
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 100%;
    /*height: 100%;*/
    align-content:flex-start;
}

#sparql-form {
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 100%;
}

#sparql-container-total {
    width: 100%;
    flex-wrap: wrap;
}

#sparql-container-total .title{
    width:100%;
}

#sparql-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap; 
  gap: 1rem; 
}

/* Both sides get equal width */
#sparql-container-left,
#sparql-container-right {
  flex: 1 1 49%;  
  overflow: auto; 
  min-width: 300px; 
  box-sizing: border-box; 
}


#timestamp-input-container{
  width:100%;
}

.CodeMirror{
  flex-grow: 1;
  max-width: 100%;

}

#sparql-editor + .CodeMirror{
    border: 1px solid #444;   /* Dark gray border */
    border-radius: 4px;       /* Optional rounded corners */
}

/*********************************
* Tab buttons 
**********************************/

#plot-box-buttons .button{
  background-color: #DFF2FD;
  color: #006699;
}

#plot-box-buttons .is-active{
  background-color: #5485AB;
  color: white;
}

#mobile-tabs ul li{
  background-color: #DFF2FD;
  color: #006699;
}

#mobile-tabs li.is-active a {
  background-color: #5485AB;
  color: white;
  border-color: #006699;
}

.tabs li a {
  background-color: #DFF2FD;
  color: #006699;
  border: none;   
}

.tabs li.is-active a {
  background-color: #5485AB !important; ; 
  color: white !important; 
    
}

/**********************************/

#timestamped-query-label {
  width:100%; 
}

#sparql-container-right .CodeMirror{
  background-color: #D0D0D0 !important;
}

.CodeMirror .CodeMirror-scroll .CodeMirror-gutters{
  background-color: #EDEDED !important;
}

#tracking-infos label {
  overflow-wrap: anywhere; 
  word-break: break-all;  
}



#plot-box-legend {
    gap: 1rem;
}

.legend-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.3em;
}

#legend-insertions {
    background: #007E71;
}

#legend-deletions {
    background: #BA4682;
}

#legend-total {
    background: #5485AB;
}


#timestamp_input {
    flex: 0 1 auto;
    width: auto;
}

#onto-infos .select {
  width: fit-content; 
  max-width: 100%;        
  flex-shrink: 0;        
}

#onto-infos select {
  width: 100%;            
}



#executeQuery {
  background-color: #006699;
}


#data-section {
    flex-wrap: wrap;
    flex-grow: 1 0 0;
    width: 100%;
    align-content: flex-start;
}


#result-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;
    position: relative;
    border: none;

}

#result-container .title{
  width: 100%;
}

#result-table {
    position: relative; /* needed to position overlay absolutely inside */
    height: 460px;
    overflow: auto;
    flex-grow: 1;
}

.table {
    border-collapse: collapse;
    border: none;

}

.table thead th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10; 
    box-shadow: inset 0 -3px 0 #ccc; 
    border: none;
    padding: 8px;
    text-align: left;
}

.table tbody td a{
  color:#5485AB;
}

/* TODO: Overlay css */

#loading-overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 20;
    pointer-events: all; /* block clicks to underlying table */
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    background: rgba(240, 240, 240, 0.8);
}

#loading-overlay span {
    font-size: 1.5rem;
    font-weight: bold;
}

#timer {
    font-size: 1rem;
}

#download-btn {
  background-color: #007E71;
}


@media (max-width: 900px) {
  #layout-wrapper {
    flex-wrap: wrap;
    align-content: start;
  }

  #mobile-tabs {
    display: flex;
    width: 100%;
  }

  #TU_signet {
    display: block;
  }

  #TU_logo {
    display: none;
  }

  #left-section, #main-section, #right-section {
    flex-grow: 1;
  }
}