services:

# The container starvers-db_prod and starvers-rdfstore_prod must be running
# They can be run with the docker-compose services in src/starversserver/docker-compose.prod.yml


  # Runs versioning and metrics computation tasks for the snapshot files in ${data_storage}/evaluation. Possible executions are
  # * entrypoint: ["python", "app/utils/compute.py", "<repo_name>"]
  #   Runs versioning and metrics computation for the specified repository
  # * entrypoint: ["python", "app/utils/compute.py", "<repo_name>", from_scratch, "yyyyMMdd-HHmmss_sss"]
  #   Runs versioning and metrics computation for the specified repository from a specific timestamp with initial versioning
  # * entrypoint: ["python", "app/utils/compute.py", "<repo_name>", from_version, "yyyyMMdd-HHmmss_sss"]
  #   Continues versioning and metrics computation for the specified repository from a specific timestamp without initial versioning
  # * entrypoint: ["python", "app/utils/compute.py", "<repo_name>",  (<from_version|from_scratch>), ("yyyyMMdd-HHmmss_sss"), "v"]
  #   Runs only versioning without metrics computation for the specified repository from a specific timestamp
  # * entrypoint: ["python", "app/utils/compute.py", "<repo_name>", (<from_version|from_scratch>), ("yyyyMMdd-HHmmss_sss"), "dm, sm"]
  #   Runs only thout metrics computation without versioning for the specified repository, with the possibility of running from scratch or from a specific timestamp
  compute:
    image: starversserver_eval
    container_name: starvers-compute_prod
    env_file: "./prod.env"
    depends_on:
      db:
        condition: service_started
      rdfstore:
        condition: service_started
    networks:
      - starvers_prod_net
    volumes:
      - ${data_storage}/evaluation:/data/evaluation
      - ${data_storage}/logs:/data/logs
      - ${data_storage}/graphdb-data/graphdb-import:/graphdb-import
    entrypoint: ["python", "/code/evaluation/compute.py", "orkg", "sm,dm", "from_version", "20250828-124726_863"] 

  # Creates plots from the timing files
  create_plots:
    image: starversserver_eval
    container_name: starvers-create-plots_prod
    env_file: "./prod.env"
    volumes:
      - ${data_storage}/evaluation:/data/evaluation
      - ${data_storage}/logs:/data/logs
      - ${data_storage}/output/figures:/data/figures
    entrypoint: ["python", "/code/evaluation/evaluation.py"]

networks:
  starvers_prod_net:
    driver: bridge
