fastapi[standard]
uvicorn[standard]
load_dotenv
sqlmodel
sqlalchemy
psycopg2-binary
requests
pydantic-settings
pytest
httpx
rdflib-endpoint[web]
timeloop
delayedqueue
networkx
pandas==2.3.3
matplotlib
Flask>=2.0
plotly==6.2.0
SPARQLWrapper==2.0.0
rdflib==6.2.0
tzlocal==4.2
