<!DOCTYPE html>
<html>
<head>
    <title>Starvers: Time-traveling SPARQL Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/sparql/sparql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/3.1.0-rc.0/plotly.min.js" charset="utf-8"></script>
</head>
<body>
<section class="section">
    <div class="container">
        
        <h1 class="title">Starvers</h1>
        <h2 class="subtitle">View Knowledge Graphs and Ontologies as they existed at specific points in time</h2>

        <form id="sparql-form">
            <div class="field">
                <h3 class="title is-5">Knowledge Graph or Ontology</h3>
                <div id="onto-infos" class="is-flex is-flex-wrap-wrap"> 
                    <div class="control">
                        <div class="select">
                            <select name="repo" id="repo-select">
                                {% for label, value in repo_options.items() %}
                                    <option value="{{ label }}" {% if selected_repo == label %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% if rdf_dataset_url and polling_interval %}
                        <div id="tracking-info" class="mt-2 is-flex is-flex-wrap-wrap">
                            <label><strong>Tracked URL:</strong> {{ rdf_dataset_url }}</label>
                            <label><strong>Polling Interval:</strong> {{ polling_interval }} seconds</label>
                            <label><strong>Next run (UTC):</strong> {{ next_run }}</label>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Plotly chart -->
            <div id="plot-container" class="is-flex is-flex-wrap-wrap plot-box">
                {% if evo_plot %}
                    <div class="plot-box">
                        <div id="external_buttons" class="is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-space-between">
                            <!-- Time aggregation buttons -->
                            <div class="is-flex is-align-items-center" style="gap: 0.5rem;">
                                <button type="button" class="button agg-button is-link is-light is-small" onclick="changeAgg('HOUR', this)">Hour</button>
                                <button id="day_button" type="button" class="button agg-button is-link is-light is-small" onclick="changeAgg('DAY', this)">Day</button>
                                <button type="button" class="button agg-button is-link is-light is-small" onclick="changeAgg('WEEK', this)">Week</button>
                            </div>

                            <!-- Custom Legend -->
                            <div class="is-flex is-align-items-center is-flex-wrap" style="gap: 1rem;">
                                <span><span class="legend-dot" style="background: green;"></span> Insertions</span>
                                <span><span class="legend-dot" style="background: red;"></span> Deletions</span>
                                <span><span class="legend-dot" style="background: blue;"></span> Total Triples</span>
                            </div>
                        </div>
                        {{ evo_plot | safe }}
                    </div>
                {% endif %}
            </div>
          
            
            <h3 class="title is-5">SPARQL Query Editor</h3>
            
            <div class="field is-flex" style="gap: 1rem; flex-wrap: wrap; align-items: stretch;">

                <!-- Left side: Label + Input + Help + Query Editor -->
                <div class="control is-flex is-flex-direction-column is-justify-content-space-between" style="flex: 1; min-width: 300px;">
                    
                    <!-- Timestamp label + input inline -->
                    <div class="field is-grouped mb-2" style="align-items: center;">
                        <div class="control" style="display: inline-flex; align-items: center;">
                        <label for="timestamp_input" style="display: inline-flex; align-items: center; padding: 0; white-space: nowrap; font-weight: bold; margin-right: 0.5rem;">
                            Timestamp
                        </label>
                        <input id="timestamp_input"
                                class="input"
                                type="text"
                                name="timestamp"
                                placeholder="{{ ts_end_iso8601 }}"
                                value="{{ selected_timestamp or ts_end_iso8601 }}"
                                style="width: 23ch;">
                        </div>
                    </div>

                    <p id="timestamp-help"
                    title="Click on one snapshot (blue dot) to choose a timestamp or manually enter one between {{ ts_start }} and {{ ts_end }}"
                    style="display: none;">
                    </p>

                    <!-- SPARQL editor -->
                    <textarea id="sparql-editor" class="textarea" name="sparql" rows="10">{{ selected_query or 'select ?s ?p ?o ?p2 ?o2 {\n ?s ?p ?o .\n ?o ?p2 ?o2 .\n} \nlimit 10' }} </textarea>
                </div>

                <!-- right side: Label + Timestamped query -->
                <div class="control is-flex is-flex-direction-column" style="flex: 1; min-width: 300px; justify-content: flex-end;">
                    <div class="is-flex is-flex-direction-column">
                        <label class="label is-flex is-justify-content-flex-end" style="margin-bottom: 0.5rem;">Timestamped Query</label>
                        <div id="timestamped-query"></div>
                    </div>
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-link">Execute Query</button>
                </div>
            </div>
        </form>

        {% if error %}
            <div class="notification is-danger mt-4">
                <strong>Error:</strong> {{ error }}
            </div>
        {% endif %}

        <div id="data_section" class="mt-5" style="display: none;">
            <div id="result-container">
                <h3 class="title is-5">Query Result</h3>

                <div id="loading-overlay">
                    <div class="is-flex is-justify-content-flex-end">
                        <label class="label">Executing timestamped query ... <label id="timer">0</label> sec</label>
                    </div>
                </div>
        
                <div id="result-table">
                    {% if result %}
                        {{ result|safe }}
                    {% endif %}
                </div>
            </div>
            {% if result %}
                <a href="{{ url_for('routes.download') }}">
                    <button class="button is-success mt-3">Download CSV</button>
                </a>
            {% endif %}
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>